<ion-list>
  <ion-item>
    <ion-label>Genre des Passagers</ion-label>
    <ion-radio-group [(ngModel)]="genrePassagers" class="custom-radio-group">
      <ion-row class="custom-radio-row">
        <ion-col class="custom-radio-col">
          <ion-item class="custom-radio-item">
            <ion-label>Homme</ion-label>
            <ion-radio value="homme" color="primary"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="custom-radio-col">
          <ion-item class="custom-radio-item">
            <ion-label>Femme</ion-label>
            <ion-radio value="femme" color="primary"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Âge des Passagers</ion-label>
    <ion-range min="18" max="99" [(ngModel)]="agePassagers" pin="true" color="primary">
      <ion-label slot="start">18</ion-label>
      <ion-label slot="end">99</ion-label>
    </ion-range>
  </ion-item>
  
  <ion-item>
    <ion-label>Conversations pendant le Trajet</ion-label>
    <ion-toggle [(ngModel)]="conversationsAutorisees" color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Animaux Autorisés</ion-label>
    <ion-toggle [(ngModel)]="animauxAutorises" color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Fumeur</ion-label>
    <ion-toggle [(ngModel)]="estFumeur" color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Préférences de Musique</ion-label>
    <ion-toggle [(ngModel)]="preferencesMusique" color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>Accessibilité pour Personnes à Mobilité Réduite</ion-label>
    <ion-toggle [(ngModel)]="accessibiliteReducedMobility" color="primary"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Filière</ion-label>
    <ion-select placeholder="Sélectionnez la filière" [(ngModel)]="filiere">
      <ion-select-option value="mast-cyber">Master Cybersécurité </ion-select-option>
      <ion-select-option value="mast-ia">Master IA & big data</ion-select-option>
      <ion-select-option value="mast-ilmsi">Master Ingénierie Logicielle et Management des Systèmes d'Information </ion-select-option>
      <ion-select-option value="mast-buis-analyse">Master Consultant en Business Analyse</ion-select-option>
      <ion-select-option value="bach-cyber">Bachelor Cybersécurité </ion-select-option>
      <ion-select-option value="bach-ia">Bachelor IA & big data</ion-select-option>
      <ion-select-option value="bach_il">Bachelor Ingénierie Logicielle</ion-select-option>
      <ion-select-option value="lic-cnam">License CNAM</ion-select-option>
      <ion-select-option value="bts-slam">BTS SIO SLAM</ion-select-option>
      <ion-select-option value="bts-sio">BTS SIO SISR</ion-select-option>
    </ion-select>
  </ion-item>

</ion-list>
