<ion-header class="header">
  <ion-toolbar>
    <div class="userName">
      <ion-title>Studiride</ion-title>
      <ion-title>{{userName}}</ion-title>
      <ion-button color="danger" expand="full" (click)="desconnect()">
        <ion-icon name="power-outline"></ion-icon>

      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <!-- Options de filtrage -->

  <ion-toolbar>
    <ion-searchbar show-clear-button="always" class="custom">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="danger" expand="full" (click)="deletFilter()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleFilters()">
        <ion-icon name="options-outline"></ion-icon> <!-- Icône de filtre -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item *ngIf="showFilters">
    <div class="filter">
      <a class="labelBar">Distance maximale: {{ selectedDistance }} km :</a>
      <div class="bar">
        <ion-range [value]="selectedDistance" min="1" max="300" step="1"
          (ionChange)="onDistanceChange($event)"></ion-range>
      </div>

    </div>
  </ion-item>




  <ion-list>
    <ion-card *ngFor="let item of items; let index">
      <ion-card-header>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="avatar" src={{avatarUrl}} />
          </ion-thumbnail>
          <ion-label> {{item.identifiant}} </ion-label>
        </ion-item>

        <ion-card-title></ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-button [id]="'present-reserve-alert-' + index">
          <ion-icon name="card"></ion-icon>
          Reserver
        </ion-button>
        <ion-alert [trigger]="'present-reserve-alert-' + index" header="Êtes vous sûr de vouloir réserver ?"
          [buttons]="alertButtons"></ion-alert>
        <ion-button (click)="sendMessage()">
          <ion-icon name="mail"></ion-icon>
          Message
        </ion-button>
        <ion-button (click)="checkInmap(item)">
          <ion-icon name="map"></ion-icon>
          Maps
        </ion-button>


      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>