<ion-header class="header">
  <ion-toolbar>
    <div class="userName">
      <ion-title>Studiride</ion-title>
      <ion-title>{{userName}}</ion-title>
      <ion-button color="danger" expand="full" (click)="desconnect()">
        <ion-icon name="power-outline"></ion-icon>

      </ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Options de filtrage -->

  <ion-toolbar>
    <ion-searchbar show-clear-button="always" class="custom">
    </ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="danger" expand="full" (click)="deletFilter()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="toggleFilters()">
        <ion-icon name="options-outline"></ion-icon> <!-- Icône de filtre -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-item *ngIf="showFilters">
    <div class="filter">
      <a class="labelBar">Distance maximale en km:</a>
      <div class="bar">
        <ion-range [value]="selectedDistance" min="1" max="300" step="1"   [pin]="true"
        [ticks]="true"
          (ionChange)="onDistanceChange($event)"></ion-range>
      </div>

    </div>
  </ion-item>




  <ion-list class="center">
    <ion-card *ngFor="let item of items; let index" class="cardProfil">
      <div class="ProfileCovoite">
        <ion-card-header>
          <div class="covoiteProfil">
          <ion-item lines="none" class="covoiteProfil custom-item">
            <div class="profil">
              <ion-thumbnail slot="start" class="">
                <img alt="avatar" src={{avatarUrl}} />
              </ion-thumbnail>
              <ion-label class="labelProfil"> {{item.identifiant}} </ion-label>
            </div>

          </ion-item>
          </div>

          <ion-card-title></ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="button-container">
            <ion-button class="buttonConnexion custom-color" color="buttonbleu"   (click)="reserver(item.id)">
              <ion-icon class="icon" name="card"></ion-icon>
              Reserver
            </ion-button>
            <ion-alert [trigger]="'present-reserve-alert-' + index" header="Êtes vous sûr de vouloir réserver ?"
              [buttons]="alertButtons"></ion-alert>
            <ion-button class="buttonConnexion custom-color" color="buttonbleu" (click)="sendMessage()">
              <ion-icon class="icon" name="mail"></ion-icon>
              Message
            </ion-button>
            <ion-button class="buttonConnexion custom-color" color="buttonbleu" (click)="checkInmap(item)">
              <ion-icon class="icon" name="map"></ion-icon>
              Maps
            </ion-button>
          </div>

        </ion-card-content>
      </div>
    </ion-card>
  </ion-list>

</ion-content>