<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon class="account-icon" name="person" slot="start" ></ion-icon>
    <ion-title>My Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <div class="title">Username</div>
        <ion-item>
          <ion-input
            [(ngModel)]="userName"
            [disabled]="!isEditing"
            [class.editable-input]="isEditing"
            #fullNameInput
          ></ion-input>
          <ion-icon name="pencil" class="edit-button" (click)="toggleEditMode(fullNameInput)"></ion-icon>
        </ion-item>
      </div>
      
      <div>
        <div class="title">Email</div>
        <ion-item>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
      
      <div>
        <div class="title">Phone Number</div>
        <ion-item>
          <ion-input
            type="tel"
            [(ngModel)]="tel"
          ></ion-input>
        </ion-item>
      </div>
      
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" color="primary" (click)="openChangePasswordDialog()">Change Password</ion-button>

   <ion-card>
    <ion-card-header>
      <ion-card-title>Notifications</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>  
        <ion-label>Receive Email Notifications</ion-label>  
        <ion-toggle slot="end" name="push-notifs" color="success"></ion-toggle>  
      </ion-item>  

      <ion-item>  
        <ion-label>Receive Push Notifications</ion-label>  
        <ion-toggle slot="end" name="push-notifs" color="success"></ion-toggle>  
      </ion-item>  
    </ion-card-content>
  </ion-card>
</ion-content>
